<ion-header>
  <ion-toolbar>
    <ion-title>Dictionary: {{ displayName}} Enter/Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <p>Collection: {{ collection }}</p>
  </ion-segment>
  
  <ion-segment (ionChange)="updateFilter($event.detail.value)">
    <ion-segment-button value="" checked>
        All
    </ion-segment-button>
    <ion-segment-button value="complete">
        Active
    </ion-segment-button>
    <ion-segment-button value="pending">
        Inactive
    </ion-segment-button>


</ion-segment>

  <ion-list>
<ion-item *ngFor="let item of items | async; trackBy: trackById">
  <span>{{ item.Mnemonic }} :{{ item.Name }}</span>
</ion-item>
</ion-list>

</ion-content>