<ion-header>
  
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide></ion-menu-button>
      </ion-buttons>

      <ion-title>
            <ion-text color="success">{{ 'HOME.company-name' | translate }}</ion-text>
            <ion-text> {{ 'HOME.product-name' | translate }} </ion-text>
          </ion-title>
       
  </ion-toolbar>
</ion-header>

        <ion-content class="ion-padding">
  
  <ion-item-divider>
      <ion-label>
          {{ 'HOME.company-branding-msg1' | translate}}
      </ion-label>
  </ion-item-divider>
  <!--
 <div class="g-signin2" data-onsuccess="onSignIn"></div>
  -->
 
 
  <ion-item-divider>
    <ion-button (click)="openLanguagePopover($event)" fill="clear">
        <ion-icon name="globe-outline" slot="icon-only">
        </ion-icon>
    </ion-button>
  <!--  <ion-list>
        <ion-item>
            <ion-label position="stacked">
                Language
            </ion-label>
            <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="fr">Francais</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
-->
  </ion-item-divider>

  
  <ion-button type="bar-button" routerLink="/recent" color="dark">
      {{ 'HOME.recent-button-label' | translate }}
      <ion-icon slot="start" name="list"></ion-icon>
  </ion-button>
  <ion-button type="bar-button" routerLink="/search" color="dark">
    {{ 'HOME.search-button-label' | translate }}
    <ion-icon slot="start" name="help"></ion-icon>
</ion-button>

<ion-button type="bar-button" routerLink="/search" color="dark">
    {{ 'HOME.notification-button-label' | translate }}
    <ion-icon slot="start" name="alarm"></ion-icon>
</ion-button>
<ion-button type="bar-button" routerLink="/login" color="dark">
    {{ 'HOME.login-button-label' | translate }}
    <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
</ion-button>

</ion-content>
