<ion-header>
  
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button autoHide></ion-menu-button>
      </ion-buttons>

      <ion-title>
            <ion-text color="success">MEDITECH </ion-text>
            <ion-text> Dictionary Composer </ion-text>
          </ion-title>
  </ion-toolbar>
</ion-header>

        <ion-content class="ion-padding">
  
  <ion-item-divider>
      <ion-label>
          Software by MEDITECH
      </ion-label>
  </ion-item-divider>
  <!--
 <div class="g-signin2" data-onsuccess="onSignIn"></div>
  -->
 
 
  <ion-item-divider>
    
  </ion-item-divider>

  <ion-button type="bar-button" routerLink="/recent" color="dark">
      Recent
      <ion-icon slot="start" name="list"></ion-icon>
  </ion-button>
  <ion-button type="bar-button" routerLink="/search" color="dark">
    Search
    <ion-icon slot="start" name="help"></ion-icon>
</ion-button>

</ion-content>
