<ion-header>
  <ion-toolbar>
    <ion-title>
      Edit Dictionary Item: {{ item.Mnemonic }} - {{item.Name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-detail-collection-label' | translate }}</ion-label>
    <ion-input [(ngModel)]="transaction.collection"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-detail-project-label' | translate }}</ion-label>
    <ion-input [(ngModel)]="transaction.project"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-mt-name-label' | translate  }}</ion-label>
    <ion-input [(ngModel)]="transaction.mtName"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-mt-mnemonic-label' | translate }}</ion-label>
    <ion-input [(ngModel)]="transaction.mtMnemonic"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-mt-active-label' | translate }}</ion-label>
    <ion-input [(ngModel)]="transaction.mtActive" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked"> {{ 'DICTIONARY.dictionary-mt-release-label' | translate }}</ion-label>
    <ion-input [(ngModel)]="transaction.mtRelease"></ion-input>
  </ion-item>
  <ion-item>

    <ion-label position="stacked">{{ 'DICTIONARY.dictionary-mt-hcis-label' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="transaction.mtHcis" rows="8"></ion-textarea>
  </ion-item>
  
</ion-content>

<ion-footer *ngIf="!transaction.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="saveTransaction()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Dictionary Transaction
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="transaction.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="saveTransaction()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
